* {
padding:0;
margin:0
}

.login_container {
width:640px;
margin:auto;
height:auto;
background-color:#fff;
padding:15px
}

.login_logo {
width:300px;
height:90px;
margin:70px auto 50px
}

.input_container {
width:400px;
margin:auto;
height:auto;
padding:15px
}

input:-webkit-autofill {
-webkit-box-shadow:0 0 0 1000px #fff inset
}

.mui--text-center h5 {
color:#333;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:500
}

.mui--text-center h5 a {
color:#29abe2!important;
text-decoration:none
}

.wapper {
width:100%;
height:auto;
background-color:#fff;
float:left
}

#header {
position:fixed;
top:0;
right:0;
left:0;
z-index:2;
transition:left .2s
}

#sidedrawer {
position:fixed;
top:0;
bottom:0;
width:160px;
left:-200px;
overflow:auto;
z-index:2;
background-color:#f1f2f2;
transition:transform .2s
}

#content-wrapper {
height:100%;
overflow-x:hidden;
overflow-y:auto;
margin-left:0;
transition:margin-left .2s
}

.footer {
box-sizing:border-box;
width:100%;
height:auto;
float:left;
margin-left:0;
position:fixed;
bottom:0;
padding-bottom:25px
}

.footer h5 {
font-size:11px;
font-family:'Open Sans',sans-serif;
font-weight:600;
color:#36465f;
margin:0;
padding-left:15px
}

.footer h5 small {
font-size:11px;
font-family:'Open Sans',sans-serif;
font-weight:600;
color:#999;
margin:0;
padding-left:0
}

@media (min-width: 768px) {
#header {
left:160px
}

#sidedrawer {
transform:translate(200px)
}

#content-wrapper {
margin-left:160px
}

#footer {
margin-left:150px
}

body.hide-sidedrawer #header {
left:0
}

body.hide-sidedrawer #sidedrawer {
transform:translate(0px)
}

body.hide-sidedrawer #content-wrapper {
margin-left:0
}

body.hide-sidedrawer #footer {
margin-left:0
}
}

#sidedrawer.active {
transform:translate(200px)
}

.sidedrawer-toggle {
color:#424143;
cursor:pointer;
font-size:20px;
line-height:20px;
margin-right:10px
}

.sidedrawer-toggle:hover {
color:#424143;
text-decoration:none
}

#sidedrawer-brand {
 padding:0px;
 width:100%;
 height:50px;
 overflow: hidden;
}

#sidedrawer-brand img{
 max-width: 100%;
 max-height: 100%;
}

#sidedrawer ul {
list-style:none
}

#sidedrawer > ul {
padding-left:0
}

#sidedrawer > ul > li:first-child {
margin-top:2px
}

#sidedrawer a {
display:block;
padding:10px 22px;
cursor:pointer;
color:#231f20;
text-decoration:none;
font-size:11px;
font-family:'Open Sans',sans-serif;
font-weight:500
}

#sidedrawer a:hover {
background-color:#f00f64;
color:#fff
}

.active {
background-color:#f00f64!important;
color:#fff!important;
}

#sidedrawer a + ul > li {
padding:0
}

#sidedrawer a fa {
color:#d1d3d4
}

#footer {
background-color:#0288D1;
color:#fff
}

#footer a {
color:#fff;
text-decoration:underline
}

.right_side {
width:100%;
height:100%;
float:left;
padding-top:25px;
padding-bottom:25px;
background-color:#fff
}

.right_side ul {
padding:0;
margin:0;
list-style:none
}

.right_side ul li {
width:16%;
height:auto;
background-color:#ffbc00;
float:left;
margin:5px;
padding:10px;
color:#fff;
cursor:pointer;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:500
}

.right_side ul li h5 {
color:#fff;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:600;
margin:0
}

.right_side ul li h4 {
color:#fff;
font-size:24px;
font-family:'Open Sans',sans-serif;
font-weight:300;
margin:5px 0
}

.right_side h1 {
color:#424143;
font-size:24px;
font-family:'Open Sans',sans-serif;
font-weight:600;
margin:10px 0
}

.right_side h1 small {
color:#424143;
font-size:24px;
font-family:'Open Sans',sans-serif;
font-weight:300;
margin:10px 0
}

.serch_box {
width:100%;
height:auto;
margin:auto;
padding:15px 0;
margin-top:14%
}

.serch-form-control {
display:block;
width:100%;
height:50px;
padding:6px 16px 6px 35px !important;
font-size:13px;
line-height:1.846;
color:#666!important;
border:1px solid #b3b3b3!important;
border-radius:2px!important;
z-index:1;
position:relative;
background-image:url(../images/search-image.jpg);
background-repeat:no-repeat;
background-position:2% center
}

.serch-form-control:focus {
border-color:#b3b3b3;
outline:0
}

.serch-form-control::-moz-placeholder {
color:#bbb;
opacity:1
}

.serch-form-control:-ms-input-placeholder {
color:#bbb
}

.form-control::-webkit-input-placeholder {
color:#bbb
}

.mui--lable {
text-align:center!important;
color:#bcbec0!important;
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:500;
margin:10px 0;
display:block;
font-style:italic
}

.mui-btn---small {
width:30px!important;
height:30px!important;
line-height:30px;
border-radius:100px
}

.add_user {
width:100%;
height:auto;
float:left;
padding-top:25px;
padding-bottom:25px;
background-color:#fff
}

.mui-tabs__pane h2 {
font-size:18px;
font-family:'Open Sans',sans-serif;
color:#424143;
margin-bottom:15px;
margin-top:0
}

.form-group h4 {
font-size:14px;
font-family:'Open Sans',sans-serif;
color:#231f20;
margin:5px 0 5px -5px;
font-weight:600
}

.right-inner-addon {
position:relative
}

.right-inner-addon i,.form-group .right-inner-addon i {
display:inline-block;
position:absolute;
z-index:3;
text-indent:-15px;
bottom:-8px;
font-size:1.3em
}

.hide {
display:none
}

.select_lable {
font-size:10px;
font-family:'Open Sans',sans-serif;
color:#bcbec0;
text-align:center
}

.create_headings {
font-size:14px;
font-family:'Open Sans',sans-serif;
color:#27aae1;
font-weight:500;
text-align:left;
margin-bottom:0;
margin-top:25px;
cursor:pointer
}

.switch {
position:relative;
display:inline-block;
width:50px;
height:12px;
margin-top:7px
}

.switch input {
display:none
}

.slider {
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color:#9e9e9e;
-webkit-transition:.4s;
transition:.4s
}

.slider:before {
position:absolute;
content:"";
height:20px;
width:20px;
left:2px;
bottom:-4px;
background-color:#f00f64;
-webkit-transition:.4s;
transition:.4s
}

input:checked + .slider {
background-color:#ffb4d1
}

input:focus + .slider {
box-shadow:0 0 1px #ffb4d1
}

input:checked + .slider:before {
-webkit-transform:translateX(26px);
-ms-transform:translateX(26px);
transform:translateX(26px)
}

.slider.round {
border-radius:34px
}

.slider.round:before {
border-radius:50%
}

.toggle_heading {
font-size:15px;
font-weight:500;
font-family:'Open Sans',sans-serif;
color:#231f20;
margin:0
}

.billing_list {
width:100%;
height:auto;
float:left
}

.billing_list ul {
padding:0;
margin:0;
list-style:none
}

.billing_list ul li {
float:left;
margin-bottom:30px
}

.billing_list ul li a {
padding:5px;
margin:0 10px;
color:#29abe2;
font-size:15px;
font-family:'Open Sans',sans-serif;
font-weight:500;
text-decoration:underline
}

.request_list {
width:100%;
height:auto;
float:left
}

.request_list h5 {
margin:0!important;
color:#29abe2!important
}

.request_list h5 a {
color:#29abe2!important;
margin:0!important;
text-decoration:underline
}

.open {
color:#ed1c24;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:700
}

.Closed {
color:#39b54a;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:700
}

.bar_chart {
width:100%;
height:150px;
float:left;
margin-bottom:15px
}

.uislider_container {
width:100%;
height:auto;
padding:2px 0 10px 32px;
background-image:url(../images/left_uislider.png);
background-position:left top;
background-repeat:repeat-y;
margin-top:15px
}

.uislider_container h5 {
color:#414042;
font-size:16px;
font-family:'Open Sans',sans-serif;
font-weight:500;
margin:10px 0
}

.uislider_container h5 small {
color:#b3b3b3;
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:500;
margin:10px 0
}

.log_container {
width:100%;
height:auto;
float:left;
background-color:#f2f2f2;
padding:10px;
margin:10px 0
}

.modal-body p {
color:#231f20;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:600
}

.help-inline {
font-size:1.2rem;
color:#d0021b
}

body.modal-open {
overflow:hidden
}

body.viewport-lg {
position:absolute
}

.detail_plan {
width:100%;
height:450px;
padding:15px;
background-color:#f2f2f2
}

.detail_plan h4 {
font-size:15px;
font-family:'Open Sans',sans-serif;
font-weight:600;
color:#414042;
margin-top:0;
margin-bottom:20px
}

.detail_plan h5 {
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:500;
color:#414042;
margin:2px 0
}

.reset {
color:#29abe2!important;
cursor:pointer;
display:block
}

.loading {
position:fixed;
z-index:999;
height:2em;
width:2em;
overflow:show;
margin:auto;
top:0;
left:0;
bottom:0;
right:0
}

.loading:before {
content:'';
display:block;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,0.6)
}

.right_side ul li h5 small {
color:#fff;
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:600;
margin:0
}

.plan_container {
width:100%;
height:100%;
float:left;
padding-top:25px;
padding-bottom:25px;
background-color:#fff
}

.plan_mui-tabs__bar {
list-style:none;
padding-left:0;
margin-bottom:0;
background-color:transparent;
white-space:nowrap;
overflow-x:auto;
border-bottom:1px solid #e6e7e8;
margin-top:-2px
}

.plan_mui-tabs__bar>li {
display:inline-block
}

.plan_mui-tabs__bar>li>a {
display:block;
white-space:nowrap;
text-transform:uppercase;
font-weight:500;
font-size:14px;
color:#b3b3b3;
height:40px;
line-height:40px;
padding-left:40px;
padding-right:40px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:pointer
}

.plan_mui-tabs__bar>li>a:hover {
text-decoration:none
}

.plan_mui-tabs__bar>li.plan_mui--is-active {
border-bottom:2px solid #f00f64
}

.plan_mui-tabs__bar>li.plan_mui--is-active>a {
color:#f00f64;
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:600;
display:block;
cursor:pointer
}

.mui-pricing {
width:100%;
height:auto;
float:left
}

.mui-pricing h3 {
color:#231F20;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:800;
margin:0
}

.mui-pricing h2 {
color:#231F20;
font-size:35px;
font-family:'Open Sans',sans-serif;
font-weight:300;
margin:0
}

.mui-pricing h2 small {
color:#231F20;
font-size:18px;
font-family:'Open Sans',sans-serif;
font-weight:300;
margin:5px 0
}

.mui_location_list {
width:100%;
height:auto;
margin:20px 0;
float:right;
text-align:right
}

.mui_location_list ul {
padding:0;
margin:0;
list-style:none
}

.mui_location_list ul li {
float:right
}

.mui_location_list ul li a {
padding:10px;
margin:0 5px;
color:#29ABE2;
font-size:14px;
font-family:'Open Sans',sans-serif;
font-weight:400
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top:-1px;
padding:6px 20px
}

.input-group-btn .btn-group {
display:flex!important
}

.btn-group .btn {
border-radius:0;
margin-left:-1px
}

.btn-group .btn:last-child {
border-top-right-radius:4px;
border-bottom-right-radius:4px
}

.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius:4px;
border-bottom-left-radius:4px
}

.form-horizontal .form-group {
margin-left:0;
margin-right:0
}

.form-group .form-control:last-child {
border-top-left-radius:0;
border-bottom-left-radius:0
}

@media screen and (min-width: 768px) {
.dropdown.dropdown-lg {
position:static!important
}

.dropdown.dropdown-lg .dropdown-menu {
min-width:500px
}
}

@media screen and (min-width: 1100px) {
body {
font-family:'Open Sans',sans-serif;
font-size:9px;
font-weight:500;
line-height:1.429;
color:rgba(0,0,0,.87);
background-color:#f2f2f2
}

.dropdown.dropdown-lg {
position:static!important
}

.dropdown.dropdown-lg .dropdown-menu {
min-width:500px
}

.view_user_right_list ul li a {
padding:0;
margin:0 5px;
color:#29ABE2;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:400
}

.mui-tabs__bar>li.mui--is-active>a {
color:#f00f64;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:600;
display:block;
cursor:pointer
}

.mui-tabs__bar>li>a {
display:block;
white-space:nowrap;
text-transform:uppercase;
font-weight:500;
font-size:12px;
color:#b3b3b3;
height:35px;
line-height:35px;
padding-left:8px;
padding-right:5px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:pointer
}
}

@media screen and (min-width: 1200px) {
body {
font-family:'Open Sans',sans-serif;
font-size:11px;
font-weight:400;
line-height:1.429;
color:rgba(0,0,0,.87);
background-color:#f2f2f2
}	
.mui-tabs__bar>li.mui--is-active>a {
color:#f00f64;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:600;
display:block;
cursor:pointer
}

.mui-tabs__bar>li>a {
display:block;
white-space:nowrap;
text-transform:uppercase;
font-weight:500;
font-size:12px;
color:#b3b3b3;
height:40px;
line-height:40px;
padding-left:15px;
padding-right:15px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:pointer
}

.mui--text-title,h3 {
font-weight:600;
font-size:15px;
line-height:28px;
display:block;
}

.dropdown.dropdown-lg {
position:static!important
}

.dropdown.dropdown-lg .dropdown-menu {
min-width:456px
}

.view_user_right_list ul li a {
padding:0;
margin:0 5px;
color:#29ABE2;
font-size:12px;
font-family:'Open Sans',sans-serif;
font-weight:400
}
}


@media screen and (min-width: 1280px) {
body {
font-family:'Open Sans',sans-serif;
font-size:12px;
font-weight:400;
line-height:1.429;
color:rgba(0,0,0,.87);
background-color:#fff
}
}
.nopadding {
padding:0!important;
margin:0!important
}

.nopadding-left {
padding-left:0!important;
margin:0!important
}

.nopadding-right {
padding-right:0!important;
margin:0!important
}

.nomargin {
padding:0!important;
margin:0!important
}

.nomargin-left {
padding:0!important;
margin-left:0!important
}

.nomargin-right {
padding:0!important;
margin-right:0!important
}

.plans-padding {
padding-left:5px;
padding-right:5px
}

.search-dropdown {
width:100%;
height:auto;
float:left;
border-bottom:1px solid #F2F2F2;
padding:10px
}

.search-dropdown h4 {
font-size:19px;
color:#424143;
font-weight:700;
font-family:'Open Sans',sans-serif;
margin:0
}

.search-dropdown h4 small {
font-size:14px;
color:#424143;
font-weight:600;
font-family:'Open Sans',sans-serif;
margin:0
}

.search-dropdown h4 span a {
float:right;
font-size:15px;
color:#29ABE2!important;
font-weight:400;
font-family:'Open Sans',sans-serif;
margin:0;
cursor:pointer
}

.search-dropdown h5 {
font-size:16px;
color:#424143;
font-weight:700;
font-family:'Open Sans',sans-serif;
margin:0
}

.search-dropdown h5 small {
font-size:14px;
color:#424143;
font-weight:600;
font-family:'Open Sans',sans-serif;
margin:0
}

.search-dropdown samp {
font-size:14px;
color:#939598;
font-weight:400;
font-family:'Open Sans',sans-serif;
font-style:italic;
margin-left:15px
}

.search_label {
color:#BCBEC0;
font-weight:500;
font-family:'Open Sans',sans-serif;
font-size:11px;
margin-left:19%;
font-style:italic
}

.view_user_right_list {
width:100%;
height:auto;
margin:20px 0;
float:right;
text-align:right
}

.view_user_right_list ul {
padding:0;
margin:0;
list-style:none
}

.view_user_right_list ul li {
float:right;
background-color:#fff;
padding:0
}

.view_user_right_list ul li a {
padding:0;
margin:0 5px;
color:#29ABE2;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:400
}

.switch-field {
font-family:'Open Sans',sans-serif;
overflow:hidden;
margin-top:15px;
margin-left:15px
}

.switch-field input {
position:absolute!important;
clip:rect(0,0,0,0);
height:1px;
width:1px;
border:0;
overflow:hidden
}

.switch-field label {
float:left;
display:inline-block;
width:auto;
background-color:#fff;
color:#36465F;
font-size:10px;
font-weight:600;
text-align:center;
text-shadow:none;
padding:6px 25px;
border:1px solid #36465F;
font-family:'Open Sans',sans-serif
}

.switch-field label:hover {
cursor:pointer
}

.switch-field input:checked + label {
background-color:#36465F;
-webkit-box-shadow:none;
box-shadow:none;
color:#fff;
font-family:'Open Sans',sans-serif;
font-size:10px;
font-weight:600
}

.switch-field label:first-of-type {
border-radius:2px 0 0 2px;
font-family:'Open Sans',sans-serif;
font-size:10px;
font-weight:600
}

.switch-field label:last-of-type {
border-radius:0 2px 2px 0
}

.searchclear {
width:15px;
height:15px;
position:absolute;
right:5px;
top:0;
bottom:0;
margin:auto;
font-size:14px;
cursor:pointer;
color:#4D4D4D;
z-index:1
}

.title_box {
width:auto;
height:10px;
position:absolute;
right:25px;
top:10px;
bottom:0;
margin:auto;
font-size:14px;
cursor:pointer;
color:#BCBEC0
}

.title_box_left {
width:auto;
height:10px;
position:absolute;
left:5px;
top:10px;
bottom:0;
margin:auto;
font-size:14px;
cursor:pointer;
color:#231F20
}

.ip_dot {
width:auto;
height:10px;
position:absolute;
right:2px;
top:26px;
bottom:0;
margin:auto;
font-size:14px;
cursor:pointer;
color:#000;
font-weight:600
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
-webkit-appearance:none;
margin:0
}

input[type=number]::-moz-inner-spin-button,input[type=number]::-moz-outer-spin-button {
-webkit-appearance:none;
margin:0
}

span.multiselect-native-select {
position:relative
}

span.multiselect-native-select select {
border:0!important;
clip:rect(0 0 0 0)!important;
height:1px!important;
margin:-1px -1px -1px -3px !important;
overflow:hidden!important;
padding:0!important;
position:absolute!important;
width:1px!important
}

.multiselect-container {
position:absolute;
list-style-type:none;
margin:0;
padding:0;
margin-left:10px
}

.multiselect-container .input-group {
margin:5px
}

.multiselect-container>li {
padding:0
}

.multiselect-container>li>a.multiselect-all label {
font-weight:700
}

.multiselect-container>li.multiselect-group label {
margin:0;
padding:3px 20px;
height:100%;
font-weight:700
}

.multiselect-container>li.multiselect-group-clickable label {
cursor:pointer
}

.multiselect-container>li>a {
padding:0
}

.multiselect-container>li>a>label {
margin:0;
height:100%;
cursor:pointer;
font-weight:400;
padding:3px 0 3px 30px
}

.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox {
margin:0
}

.multiselect-container>li>a>label>input[type=checkbox] {
margin-bottom:0;
margin-top:10px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
border-top-left-radius:4px;
border-bottom-left-radius:4px
}

.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio {
padding:3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio] {
margin-left:-20px;
margin-right:0
}

.dropdown-menu-left {
position:absolute;
top:100%;
left:0;
z-index:1000;
display:none;
float:left;
min-width:200px!important;
padding:0!important;
margin:0!important;
list-style:none;
font-size:13px;
text-align:left;
background-color:#f1f2f2!important;
border:none;
border-radius:0!important;
-webkit-box-shadow:none!important;
box-shadow:none!important
}

.selected-label {
top:0;
display:block;
width:100%;
color:rgba(0,0,0,.54);
font-size:12px;
font-weight:400;
line-height:15px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}

.doc_upload {
color:#3CC289
}

.doc_pending {
color:#E8A7A6
}

.serch_loading {
background-color:#fff;
background-image:url(../images/loader.svg);
background-size:35px 35px;
background-position:210px center;
background-repeat:no-repeat
}

.plans-thumbnail {
display:block;
padding:4px;
height:130px;
margin-bottom:10px;
margin-top:10px;
line-height:1.846;
border-radius:0;
-webkit-transition:border .2s ease-in-out;
-o-transition:border .2s ease-in-out;
transition:border .2s ease-in-out
}

.plans-thumbnail>img,.plans-thumbnail a>img {
margin-left:auto;
margin-right:auto
}

a.plans-thumbnail:hover,a.plans-thumbnail:focus,a.plans-thumbnail.active {
color:#fff;
text-decoration:none
}

.plans-thumbnail .caption {
padding:5px;
color:#fff
}

.caption h6 a {
color:#fff;
font-size:11px;
font-family:'Open Sans',sans-serif;
font-weight:400;
margin:0
}

.caption h5 {
color:#fff;
font-size:13px;
font-family:'Open Sans',sans-serif;
font-weight:800;
margin:0
}

.caption h4 {
color:#fff;
font-size:24px;
font-family:'Open Sans',sans-serif;
font-weight:300;
margin:5px 0
}

.images-preview {
width:250px;
margin-bottom:15px;
height:120px;
display:block;
overflow:hidden
}

.images-preview img {
width:100%;
height:100%
}

@media (max-width: 599px) {
.menu-container .crbnMenu ul {
padding:0;
margin:0;
list-style-type:none
}

.menu-container .crbnMenu a {
text-decoration:none;
color:#333
}

.menu-container .crbnMenu .link-stack {
cursor:pointer;
padding:15px;
background-color:#eee;
border-bottom:1px solid #ddd
}

.menu-container .crbnMenu .link-stack .brand {
text-transform:uppercase;
font-weight:700;
color:#aaa
}

.menu-container .crbnMenu .menu {
display:none;
background-color:#f6f6f6
}

.menu-container .crbnMenu .menu li a {
border-bottom:1px solid #eaeaea;
display:block;
padding:10px 20px
}

.menu-container .crbnMenu .menu li a .nav-link-icon {
margin-right:10px
}

.menu-container .crbnMenu .menu li a .menu-toggle {
display:none
}

.menu-container .crbnMenu .menu li ul {
padding:0;
margin:0;
display:none
}

.menu-container .crbnMenu .menu li ul li a {
padding-left:25px
}
}

@media (min-width: 600px) {
.menu-container .crbnMenu ul {
padding:0;
margin:0;
list-style-type:none
}

.menu-container .crbnMenu a {
text-decoration:none;
color:#333
}

.menu-container .crbnMenu .link-stack {
cursor:pointer;
padding:15px;
background-color:#eee;
border-bottom:1px solid #ddd
}

.menu-container .crbnMenu .link-stack .brand {
text-transform:uppercase;
font-weight:700;
color:#aaa
}

.menu-container .crbnMenu .menu {
display:none;
}

.menu-container .crbnMenu .menu li a {
display:block;
padding:10px 20px
}

.menu-container .crbnMenu .menu li a .nav-link-icon {
margin-right:10px
}

.menu-container .crbnMenu .menu li a .menu-toggle {
display:none
}

.menu-container .crbnMenu .menu li ul {
padding:0;
margin:0;
display:none
}

.menu-container .crbnMenu .menu li ul li a {
padding-left:25px
}
}

@media (min-width: 1200px) {
.menu-container .crbnMenu {
z-index:-1;
width:100%;
position:absolute
}

.menu-container .crbnMenu ul {
padding:0;
margin:0;
list-style-type:none
}

.menu-container .crbnMenu a {
text-decoration:none;
color:#231F20
}

.menu-container .crbnMenu .link-stack {
padding:15px;
background-color:#eee;
cursor:pointer
}

.menu-container .crbnMenu .link-stack .brand {
text-transform:uppercase;
font-weight:700;
color:#231F20
}

.menu-container .crbnMenu .link-stack .nav-toggle {
display:none
}

.menu-container .crbnMenu .menu {
display:block!important;
}

.menu-container .crbnMenu .menu li a {
font-size:.7em;
color:#231F20;
font-weight:700;
display:block;
padding:10px 20px
}

.menu-container .crbnMenu .menu li a .nav-link-icon {
margin-right:10px
}

.menu-container .crbnMenu .menu li a .menu-toggle {
display:block;
float:right
}

.menu-container .crbnMenu .menu li ul {
padding:0;
margin:0;
display:none
}

.menu-container .crbnMenu .menu li ul li a {
font-weight:400;
font-size:.6em;
padding-left:25px
}

.menu-container .content {
margin:0 0 0 250px
}
}

.menu-container #nav-toggle {
position:absolute;
right:20px;
top:15px;
height:5px;
width:25px;
padding-top:7px;
padding-bottom:7px
}

.menu-container #nav-toggle span {
height:5px;
width:25px;
right:0;
position:absolute;
content:'';
transition:all 500ms ease-in-out
}

.menu-container #nav-toggle span:before,.menu-container #nav-toggle span:after {
height:5px;
width:25px;
position:absolute;
display:block;
content:'';
transition:all 500ms ease-in-out
}

.menu-container #nav-toggle span:before {
top:-8px
}

.menu-container #nav-toggle span:after {
bottom:-8px
}

.menu-container #nav-toggle.nav-open span {
background:transparent
}

.menu-container #nav-toggle.nav-open span:before {
transition:all 500ms ease-in-out;
transform:translateY(8px) rotate(45deg)
}

.menu-container #nav-toggle.nav-open span:after {
transition:all 500ms ease-in-out;
transform:translateY(-8px) rotate(-45deg)
}
.menu_active{
	background-color:#f9f9f9!important; 
}
.modal-body_img{
	width: 100%;
	height:100%;
	float:left;
}
.modal-body_img img{
	width: 100%;
	height: 100%;
}
.modal-images-preview {
width:190px;
margin-bottom:15px;
height:100px;
display:block;
overflow:hidden
}

.modal-images-preview img {
width:100%;
height:100%
}


/*------------side navbar -----------*/

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0
}
.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0
}
.sidebar-menu>li>a {
	padding: 12px 5px 12px 15px;
	display: block
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
	width: 20px
}
.sidebar-menu>li .label, .sidebar-menu>li .badge {
	margin-top: 3px;
	margin-right: 5px
}
.sidebar-menu li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px
}
.sidebar-menu li>a>.fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px
}
.sidebar-menu li.active>a>.fa-angle-left {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}
.sidebar-menu li.active>.treeview-menu {
	display: block
}
.sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 0px
}
.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 20px
}
.sidebar-menu .treeview-menu>li {
	margin: 0
}
.sidebar-menu .treeview-menu>li>a {
	padding: 5px 5px 5px 15px;
	display: block;
	font-size: 14px
}
.sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon, .sidebar-menu .treeview-menu>li>a>.ion {
	width: 20px
}
.sidebar-menu .treeview-menu>li>a>.fa-angle-left, .sidebar-menu .treeview-menu>li>a>.fa-angle-down {
	width: auto
}

@media (min-width:768px) {
.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
	margin-left: 50px!important;
	z-index: 840
}
.sidebar-mini.sidebar-collapse .main-sidebar {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 50px!important;
	z-index: 850
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li {
	position: relative
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
	margin-right: 0
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
	border-top-right-radius: 4px
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
	border-bottom-right-radius: 4px
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-right-radius: 4px
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	display: block!important;
	position: absolute;
	width: 180px;
	left: 50px
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
	top: 0;
	margin-left: -3px;
	padding: 12px 5px 12px 20px;
	background-color: inherit
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	top: 44px;
	margin-left: 0
}
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
	display: none!important;
	-webkit-transform: translateZ(0)
}
.sidebar-mini.sidebar-collapse .main-header .logo {
	width: 50px
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 18px
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
	display: none
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
	margin-left: 50px
}
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
	white-space: nowrap;
	overflow: hidden
}
.sidebar-menu:hover {
	overflow: visible
}
.sidebar-form, .sidebar-menu>li.header {
	overflow: hidden;
	text-overflow: clip
}
.sidebar-menu li>a {
	position: relative
}
.sidebar-menu li>a>.pull-right {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -7px
}
.sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}
.sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    background: #F00F64 none repeat scroll 0 0;
    color: #fff!important;
}
.sidebar-menu > li > .treeview-menu {
    background: #f9f9f9 none repeat scroll 0 0;
    margin: 0 0px;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar a:hover {
    text-decoration: none;
}
.treeview-menu > li > a {
    color: #8aa4af;
}
.treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
	color: #fff;
}

.donut_chart_text{
 width: 100%;
 height: auto;
 float: left;
}
.donut_chart_text h1 {
    color: #424143;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
}
.donut_chart_text h2 span{
 color: #424143;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight:400;
}
.donut_chart_active{
 width:100%;
 height: 220 px;
 float:left;
 background-color:#F5F5F5; 
}
.donut_chart_active ul{
 padding:0px;
 margin: 0px;
 list-style: none;
}
.donut_chart_active ul li a{
 text-decoration: none;
 padding: 15px;
 display: block;
 font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight:400;
 color:#414042;
 border-bottom: 1px solid #E6E6E6;
}

.donut_chart_active ul li a:hover{
 color:#F00F64;
 font-size: 15px;
    font-weight:500;
}

.textactive{
 color:#F00F64 !important;
 font-size: 15px;
 font-weight:500;
 background-color: #e6e6e6;
}
.textactive h2 {
 color:#F00F64 !important;
 font-size: 15px;
 font-weight:500;
 background-color: #e6e6e6;
}
.donut_chart_active ul li a h2{
 font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight:300;
 color:#414042;
 margin-bottom: 0px;
}
.donut_chart_text h3{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight:400;
  color:#414042;
  margin-bottom: 0px;   
}
.donut_col-lg-7{
 height: 220px;
 padding: 10px 10px;
 border: 2px solid #E6E6E6;
}
.donut_col-lg-7 h2{
    color: #424143;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight:400;
}
.donut_col-lg-7 h2 span{
    color: #424143;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight:600;
}
.donut-btn {
 background-color:#E6E6E6; 
 border:1px solid #333333;
 padding: 5px 10px;
 margin: 5px 5px;
 border-radius:25px;
 font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight:600;
 color:#4D4D4D;
 float:left;
 cursor:pointer;
}
.donut-btn-active{
 background-color:#333333; 
 border:1px solid #333333;
 padding: 5px 10px;
 margin: 5px 5px;
 border-radius:25px;
 font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight:600;
 color:#fff;
 float:left;
 cursor:pointer;
}

.datefinder{
   border: 1px solid #e6e7e8
!important;
   min-width: 215px;
   height:30px;
   padding: 5px 10px!important;
   border-radius: 2px!important;
   box-shadow: none!important;
}
.datefilters{
  border: 1px solid #e6e7e8
!important;
  min-width: 215px;
  height:35px;
  padding: 0px 5px!important;
  border-radius: 2px!important;
  box-shadow: none!important;
}.select_datefilters{
  border:none!important;
  min-width: 200px;
  height:30px;
  box-shadow: none!important;
}
select,select.datefilters {
border:0;
border-radius:0;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
padding-left:0;
padding-right:0;
background-color:transparent;
/*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
*/
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
-webkit-background-size:13px 13px;
background-size:13px;
background-repeat:no-repeat;
background-position:rightr center;
-webkit-box-shadow:inset 0 -1px 0 #ddd;
box-shadow:inset 0 -1px 0 #ddd;
font-size:16px;
line-height:1.5;
margin-bottom: 15px;
}

.garfes_div{
   width:100%;
   height: auto;
   float: left;
   margin: -25px 0px 20px 0px;
}
.garfes_div ul li{
 color: #424143
;
 display: block;
 position: relative;
 width: 100%;
 height: auto;
 z-index:1;
}.garfes_div ul li input[type=radio]{
 position: absolute;
 visibility: hidden;
}.garfes_div ul li label{
 display: block;
 position: relative;
 font-weight: 600;
 font-size: 12px;
 padding: 30px 25px 25px 60px;
 margin: 10px auto;
 height: 30px;
 z-index: 9;
 cursor: pointer;
 -webkit-transition: all 0.25s linear;
}.garfes_div ul li:hover label{
   color: #f00f64
;
}.garfes_div ul li .check{
 display: block;
 position: absolute;
 border: 2px solid #424143
;
 border-radius: 100%;
 height: 25px;
 width: 25px;
 top: 30px;
 left: 20px;
   z-index: 5;
   transition: border .25s linear;
   -webkit-transition: border .25s linear;
}.garfes_div ul li:hover .check {
 border: 2px solid #f00f64
;
}.garfes_div ul li .check::before {
 display: block;
 position: absolute;
 content: '';
 border-radius: 100%;
 height: 15px;
 width: 15px;
 top: 3px;
 left: 3px;
 margin: auto;
 transition: background 0.25s linear;
 -webkit-transition: background 0.25s linear;
}
.garfes_div ul li input[type=radio]:checked ~ .check {
 border: 2px solid #f00f64;
}
.garfes_div ul li input[type=radio]:checked ~ .check::before{
 background: #f00f64;
}
.garfes_div ul li input[type=radio]:checked ~ label{
 color: #f00f64;
}

.form-inline_lable{
    font-weight:600;
    margin-right: 25px;
    font-size: 16px;
    color:#36465f ; 
}
.form-inline_lable span{
    font-weight:400;
    font-size: 16px;
    color:#b3b3b3 ; 
}

.single li {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.invoice_container {
    width: 100%;
    height: auto;
    float: left;
    margin: 10px 0px;
    padding: 10px 0px;
    border: 1px solid #f1f2f2;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(168, 168, 168, 1);
    box-shadow: 1px 1px 2px 0px rgba(168, 168, 168, 1);
}

.invoice_lable {
    font-size: 15px!important;
    font-family: 'Open Sans', sans-serif;
    color: #424143!important;
    font-weight: 500!important;
}

.invoice_lable sup {
    color: #f94242!important;
}

.invoice_tb {
    border-top: 1px solid #f1f2f2;
    margin-top: 10px;
}

.invoice-form_label {
    display: inline-block;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #424143;
    padding: 10px;
    font-weight: 600
}

.invoice_add_btn {
    display: inline-block;
}

.invoice_add_btn a {
    background-color: #cccccc;
    width: auto;
    padding: 4px 15px;
    color: #36465f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 5px;
    border-radius: 2.28571rem;
    cursor: pointer;
}

.invoice_add_btn a:hover {
    background-color: rgba(204, 204, 204, 0.8);
    width: auto;
    padding: 4px 15px;
    color: #36465f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 5px;
    border-radius: 2.28571rem;
    cursor: pointer;
}

.invoice-control {
    width: 100%;
    height: 50px!important;
    border: 1px solid #ccc!important;
    background-color: #ffffff!important;
    box-shadow: none!important;
    padding: 5px!important;
}

.invoice-select {
    width: 150px!important;
    box-shadow: none!important;
    margin: 0px!important;
    height: 20px!important;
    padding: 0px!important;
}

.close-fa {
    color: #ff3f3f!important;
    font-weight: 200!important;
    font-size: 12px!important;
    cursor: pointer;
}

.invoice-control_lable {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #424143;
    font-weight: 600;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
}

.invoice_small {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #424143;
    font-weight: 400;
}

.invoice_btn_m {
    margin: 5px 10px!important;
}


/*------ SHOUUT SO CSS -----*/
.shouut_os_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width:100%;
	text-align: center;
	height: 60px;
	font-size:13px;
	font-family:'Open Sans',sans-serif;
	font-weight:600;
	color: #333333
}

.shouut_os_input_container {
width:100%;
margin:auto;
height:auto;
padding:15px
}

.shouut_os_login_logo {
width:300px;
height:50px;
margin:10px auto 20px
}
.shouut_os_login_logo img{
	width:80%;
} 
.shouut_os_form{
	width:100%;
	height:350px;
	padding:0px 12px 0px 0px;
	border:1px solid #a7a9ac!important;
	border-radius:3px!important;
	text-align: justify;
    overflow: hidden;
}
.shouut_os_form-control {
	display:block;
	width:100%;
	height:350px;
	padding:16px;
	font-size:13px;
	line-height:1.846;
	overflow-y: auto;
	overflow-x: hidden;	
}

/* Let's get this party started */ 
::-webkit-scrollbar { 
	width: 5px;
}
::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
	-webkit-border-radius: 10px; border-radius: 10px; }

/* Handle */ 
::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	background: rgba(230,230,230,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); } 
   ::-webkit-scrollbar-thumb:window-inactive 
	{ background: rgba(230,230,230,0.4); }
/* Let's get this party started */ 

/* Let's get this party started */ 
::-moz-scrollbar { 
	width: 5px;
}
::-moz-scrollbar-track { 
	-moz-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
	-moz-border-radius: 10px; border-radius: 10px; }

/* Handle */ 
::-moz-scrollbar-thumb { 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	background: rgba(230,230,230,0.8);
	-moz-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); } 
   ::-moz-scrollbar-thumb:window-inactive 
	{ background: rgba(230,230,230,0.4); }
/* Let's get this party started */ 
.shouut_os_mui-form h4{
	font-size:15px;
	font-family:'Open Sans',sans-serif;
	font-weight:700;
	color: #1a1a1a;
	margin: 5px;
}
.shouut_os_mui-form h5{
	font-size:13px;
	font-family:'Open Sans',sans-serif;
	font-weight:200;
	color: #808080;
	margin: 5px;
}
.mui-btn--os {
    color: #FFF;
    background-color: #1c2a39;
}
.mui-btn--os:active,.mui-btn--os:focus,.mui-btn--os:hover {
color:#FFF;
background-color: #1c2a39;
}

.login_container {
width:100%;
margin:auto;
height:auto;
background-color:#fff;
padding:15px
}